@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme inline {
  --color-bg : var(--clr-bg);
  --color-fg : var(--clr-fg);
  --color-underline: var(--clr-green);
  --color-btn : var(--color-green-300);
  --font-grotesk : "Space Grotesk",sans-serif;
};

@layer base {
  :root{

    --clr-bg:var(--clr-gray-900);
    --clr-fg:var(--clr-white);

    /* Primitive Tokens */
    --clr-white: oklch(1 0 0);
    
    --clr-gray-300: oklch(87.2% 0.01 258.338);
    --clr-gray-400: oklch(70.7% 0.022 261.325);
    --clr-gray-800: oklch(27.8% 0.033 256.848);
    --clr-gray-900: oklch(21% 0.034 264.665);
    
    --clr-green: oklch(87.1% 0.15 154.449);
    --clr-green-300: oklch(79.2% 0.209 151.711);

  }

  .light{
    --clr-bg: var(--clr-white) ;
    --clr-fg : var(--clr-gray-900);
  }

};

@utility pattern {
  @apply after:content-[''] after:absolute after:z-10 after:bg-amber-400;
}